<template>
    <div>
        <v-card-title class="blue lighten-3">Edycja promocji: ID {{currentPromoID}} - Wybór produktów podrzędnych</v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="8" sm="8" md="8">
                    <v-row>
                        <v-col md="6">
                            <SelectCategory />
                        </v-col>
                        <v-col md="4" class="ml-auto">
                            <FindByErpId />
                        </v-col>
                    </v-row>
                    <ProductsTable :categoryID="categoryID" :currentPromoID="currentPromoID" />
                </v-col>
                <v-col cols="4" sm="4" md="4">
                    <SelectedTable :withQuantity="false"/>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" sm="6" md="6">
                    <v-btn
                        color="default"
                        class="ma-2"
                        @click="stepBack">
                            Wstecz
                    </v-btn>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                    <div class="text-right">
                        <v-btn
                            color="primary"
                            class="ma-2"
                            dark
                            @click="sendForm">
                                Zapisz 
                        </v-btn>i edytuj komunikaty
                    </div>
                </v-col>
            </v-row>
        </v-card-text>
    </div>
</template>

<script>
import ProductsTable from '@/components/_tables/ProductsTable.vue'
import SelectCategory from '@/components/_forms/SelectCategory.vue'
import SelectedTable from '@/components/_tables/SelectedProductsTable.vue'
import FindByErpId from '@/components/_forms/FindByErpId.vue'

export default {
    props: ['currentPromoID'],
    name: 'Promotion',
    data () {
        return {
            showTable: false,
            categoryID: null
        }
    },
    mounted() {
        this.$store.dispatch("general/fetchSelectedProducts", {promo_id: this.currentPromoID, product_type: 2});
        this.$store.dispatch("general/clearProducts");
    },
    methods: {
        sendForm() {
            this.$store.dispatch("general/updateSelectedProducts", {promotion_id: this.currentPromoID, step_id: 24, promotion_type_id: this.currentStep.promotion_type_id, product_type: 2 })
        },
        stepBack() {
            this.$store.dispatch("general/changeStep", { step_id: 22, promotion_id: this.currentPromoID } );
        }
    },
    computed: {
        currentStep() {
          return this.$store.getters['general/getCurrentStep']
        }
    },
    components: {
        ProductsTable,
        SelectCategory,
        SelectedTable,
        FindByErpId
    }
}
</script>