<template>
  <v-navigation-drawer
      permanent
      clipped
      app
    >
      <v-list dense>
        <v-list-item link :to="{path: '/'}">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Strona główna </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :to="{path: '/nowa_promocja'}">
          <v-list-item-action>
            <v-icon>mdi-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Stwórz nową promocję</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
       <hr/>

          <v-list-item link :to="{path: '/lista_promocji/opublikowane', params: { listType: 'public'}}">
            <v-icon>mdi-playlist-play</v-icon>
            <v-list-item-title>Opublikowane</v-list-item-title>
            <!-- <v-icon class="float-right">mdi-refresh</v-icon> -->
          </v-list-item>
          <v-list-item link :to="{path: '/lista_promocji/szkice', params: { listType: 'drafts'}}">
            <v-icon>mdi-playlist-edit</v-icon>
            <v-list-item-title>Szkice</v-list-item-title>
          </v-list-item>
          <v-list-item link :to="{path: '/lista_promocji/archiwum', params: { listType: 'closed'} }">
            <v-icon>mdi-playlist-remove</v-icon>
            <v-list-item-title>Archiwum</v-list-item-title>
          </v-list-item>
          <v-list-item link :to="{path: '/lista_promocji/wszystkie', params: { listType: 'closed'} }">
            <v-icon>mdi-playlist</v-icon>
            <v-list-item-title>Wszystkie</v-list-item-title>
          </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
  })
}
</script>