<template>
        <v-app-bar
        app
        color="black"
        dark
        clipped-left
        >
            <div class="d-flex align-center">
                <v-img
                alt="cyfrowe"
                class="shrink mr-2 logoPic"
                contain
                src="@/assets/cyfrowe.png"
                transition="scale-transition"
                width="100"
                /> Panel promocji
            </div>
            <v-spacer></v-spacer>
            <div v-if="logged && logged.user_name" class="mr-2 text-right"  >
                <div>Zalogowano: {{logged.user_name}}</div>
                <v-btn small color="grey lighten-2 black--text" @click="logout">Wyloguj</v-btn>
            </div>
           
            
            
        </v-app-bar>

</template>

<style scoped>
.logoPic {
   -webkit-filter: invert(1);
   filter: invert(1);
   }
</style>

<script>
export default {
    data: () => ({
        
    }),
    methods: {
        logout() {
            this.$store.dispatch("user/logout");
        }
    },
    computed: {
        logged() {
            return this.$store.getters['user/getUserData']
        } 
    }

}
</script>