<template>
<div>
    <v-file-input
      chips
      label="Wybierz badge dla promocji"
      :show-size="1000"
      @change="handleImage"
      v-model="file"
      :rules="max_size"
      accept=".png, .jpeg, .jpg"
    ></v-file-input>
    <div v-if="badge64">
    <img width="200" ref="b64" :src="badge64" alt="Podglgląd obrazka"/><br>
    <v-btn
        color="warning"
        class="ma-2"
        dark
        x-small
        @click="clearImage"
        >
            Kasuj obrazek
    </v-btn>
    </div>
</div>
</template>

<script>
    export default {
        props: ['initialBadge'],
        data: ()=> ({
            badge64: null,
            file: null,
            imagePreview: null,
            max_size: [
                value => !value || value.size < 30000 || 'Za duża waga obrazka. Maksymalny rozmiar 30kb',
            ]
        }),
        mounted(){
            if (this.initialBadge.badge){
                this.badge64 = this.initialBadge.badge;
            }
            this.$emit('input', this.badge64)
        },
        methods: {
            handleImage(e) {
                const selectedImage = this.file;
                if(selectedImage){
                    this.imagePreview = URL.createObjectURL(this.file)
                    let reader = new FileReader();
                    reader.readAsDataURL(selectedImage)
                    reader.onload = e => this.handleResult(e.target.result);
                } else {
                    this.badge64 = null
                }
            },
            handleResult(result) {
                this.badge64 = result;
                this.$emit('input', this.badge64)
            },
            clearImage() {
                this.file = null;
                this.handleResult('');
            }
        }
    }
</script>