<template>
<div>
    <v-text-field 
        @change="onChange" 
        v-model="basketMessage"
        label="Treść komunikatu koszykowego" 
        hint="np.: W Twoim koszyku znajduje się produkt biorący udział w promocji typu Cash Back" 
        persistent-hint
    ></v-text-field>
    <v-text-field 
        @change="onChange"
        v-model="basketUrl" 
        :rules="https_rules" 
        label="Adres strony komunikatu koszykowego"
    ></v-text-field>
</div>
</template>
<script>
export default {
    props: ['initialBasketMessage'],
    data: ()=> ({
        basketMessage: '',
        basketUrl: '',
        https_rules: [
            value => /^https:\/\//.test(value) || 'Adres musi się zaczynac od https://',
        ]
    }),
    mounted() {
        if(this.initialBasketMessage.basketMessage) {
            this.basketMessage = this.initialBasketMessage.basketMessage
        }
        if(this.initialBasketMessage.basketUrl) {
            this.basketUrl = this.initialBasketMessage.basketUrl
        }
        this.$emit('input', {message: this.basketMessage, url: this.basketUrl});   
    },
    methods: {
        onChange(e) {
            this.$emit('input', {message: this.basketMessage, url: this.basketUrl});   
        }
    }
}
</script>