<template>
    <div text-align="right">
        <v-text-field
            label="Wyszukiwanie wg Indeksu"
            hint="wprowadź indeks i wciśnij ENTER"
            @keydown.enter="findByErpId"
        ></v-text-field>
    </div>
</template>

<script>
export default {
    data: () => ({
    }),
    methods: {
        findByErpId(e) {
            this.$store.dispatch("general/findByErpID", e.target.value);
        }
    }
}

</script>