<template>
<div>
    <v-text-field 
        @change="onChange" 
        label="Nazwa labela" 
        persistent-hint 
        hint="np. Black Week"
        :value="fieldValue"
    ></v-text-field>
</div>
</template>
<script>
export default {
    props: ['initialLabel'],
    data: ()=> ({
        fieldValue: '',
        rules: {
            //required: value => !!value || 'Pole wymagane',
        }
    }),
    mounted() {
        if(this.initialLabel){
            this.fieldValue = this.initialLabel;
        }
        this.$emit('input', this.fieldValue)
    },
    methods: {
        onChange(e) {
            this.$emit('input', e)
        }
    }
}
</script>