<template>
    <div>
        <v-text-field 
        @change="onChange" 
        :rules="[rules.required]" 
        label="Adres url landing page (wprowadzone bez https://)" 
        hint="Na przykład www.cyfrowe.pl/lp/nazwa_promocji" 
        persistent-hint
        :value="fieldValue"
        ></v-text-field>
    </div>
</template>
<script>
export default {
    props: ['initialLP'],
    data: ()=> ({
        fieldValue: '',
        rules: {
            required: value => !!value || 'Pole wymagane',
        }
    }),
    mounted() {
        if(this.initialLP){
            this.fieldValue = this.initialLP;
        }
        this.$emit('input', this.fieldValue)
    },
    methods: {
        onChange(e) {
            this.$emit('input', e)
        }
    }
}
</script>