<template>
    <div>
        <v-text-field
            label="Minimalna wartość koszyka"
            placeholder="Wprowadź kwote w PLN"
            :value="minimalBasket"
            :rules="numbers"
            @change="onChange"
        ></v-text-field> 
    </div>
</template>

<script>
export default {
    props: ['initialMinimalBasket'],
    data: () => ({
        minimalBasket: '',
        valid: true,
        numbers: [
            v => (!isNaN(v) || typeof v == 'undefined') || 'Wprowadź pełną kwotę jako wartość koszyka',
        ]
    }),
    beforeMount(){
        
    },
    mounted() {
        this.minimalBasket = this.initialMinimalBasket;
        this.$emit('input', this.minimalBasket); 
    },
    methods: {
        onChange(e) {
            this.$emit('input', e);
        }
    },
}
</script>