<template>
    <div>   
        <v-text-field
            label="Tagi"
            placeholder="Wprowadź nazwę taga, więcej rozdziel przecinkiem"
            :value="promotionTags"
            :hint="promotionTags"
            @change="onChange"
        ></v-text-field> 
    </div>
</template>

<script>
export default {
    props: ['initialTags'],
    data: () => ({
        promotionTags: ''
    }),
    beforeMount(){
        
    },
    mounted() {
        this.promotionTags = this.initialTags;
        this.$emit('input', this.promotionTags); 
    },
    methods: {
        onChange(e) {
            this.$emit('input', e);
        }
    },
}
</script>