<template>
    <div>
        <v-select
            name="promotion_type"
          :items="promotionType"
          v-model="selectedPromoType"
          label="Typ promocji"
          item-text="name"
          item-value="id"
          outlined
          @change="onChange"
          :rules="req"
        >
        ></v-select>
    </div>
</template>

<script>
export default {
    components: {
    },
    data: () => ({
        selectedPromoType: '',
        valid: true,
        req: [
            v => !!v || 'Proszę wybrać typ promocji',
        ]
    }),
    computed: {
        promotionType() {
            return this.$store.getters['general/getPromotionTypes']
        }
    },
    methods: {
        onChange(e) {
            this.$emit('input', e);
        }
    },
    created() {
        this.$store.dispatch("general/getPromotionTypes");
    }
}
</script>