<template>
    <div>   
        <v-text-field
            name="promotion_name"
            label="Nazwa promocji"
            placeholder="Wprowadź nazwę promocji"
            :rules="nameRules"
            :value="promotionName"
            :hint="promotionName"
            @change="onChange"
        ></v-text-field> 
    </div>
</template>

<script>
export default {
    props: ['initialName'],
    data: () => ({
        promotionName: '',
        valid: true,
        nameRules: [
            v => !!v || 'Nazwa jest wymagana',
            v => (v && v.length >= 3) || 'Za krótka nazwa',
        ]
    }),
    mounted(){
        if(this.initialName){
            this.promotionName = this.initialName;
        }
        this.$emit('input', this.promotionName);    
     },
    methods: {
        onChange(e) {
            this.$emit('input', e);
        }
    },
}
</script>