<template>
    <v-col cols="12" sm="12" md="6">
        <v-textarea
          :label="tData.label"
          auto-grow
          filled
          rows="3"
          row-height="25"
          :rules="rules"
          :value="tData.message"
          @change="onChange"
        ></v-textarea>
           
    </v-col>
</template>

<script>
export default {
    props: ['defaultVal', 'promotionID', 'fetchedMessage'],
    data: () => ({
        tData: '',
        rules: [
            v =>  !!v  || 'Komunikat jest wymagany'
        ]
    }),
    beforeMount() {
        this.tData = this.defaultVal;
        if (this.fetchedMessage) {
            this.tData.message = this.fetchedMessage
        }
        if (this.tData.type_id === 3) {
           this.rules = [] 
        }
    },
    mounted() {
        this.$emit('input', {message: this.tData.message ? this.tData.message : '', promotionMessageType: this.tData.type_id }); 
    },
    methods: {
        onChange(e) {
            this.$emit('input', {message: e ? e : '', promotionMessageType: this.tData.type_id});
        }
    },
}
</script>