<template>
    <div>
        
        <v-combobox
            :items="categories"
            label="Wybierz kategorię by wyświetlić produkty"
            item-text="name"
            item-value="id"
            v-model="selectedCat"
            return-object
            @change="categorySelected"
        ></v-combobox>
    </div>
</template>

<script>
export default {
    data: () => ({
        selectedCat: '',
    }),
    mounted() {
        this.$store.dispatch("general/getCategories");
    },
    watch: { 
          selectedCategory: function(newVal, oldVal) { // watch it
            if(!newVal) {
               this.selectedCat = ''
            } else {
                this.$store.dispatch("general/fetchProductsByCategoryID", newVal);
            }
        }
    },
    methods: {
        categorySelected() {
            this.$store.dispatch("general/setSelectedCat", this.selectedCat.id);
        },
    },
    computed: {
        categories() {
           return this.$store.getters['general/getCategories']
        },
        selectedCategory () {
            return this.$store.getters['general/getSelectedCat']
        }
    }
}
</script>