<template>
    <div>
        <p class="font-weight-medium title">Ramy czasowe promocji</p>
        <v-row>
            <v-col cols="12" sm="3" md="3"> 
                <v-dialog
                    ref="dialog1"
                    v-model="modalDate1"
                    :return-value.sync="date1"
                    persistent
                    width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="date1"
                            label="Wybierz datę rozpoczęcia"
                            prepend-icon="mdi-calendar-today"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="reqDate"
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="date1" scrollable locale="pl-pl"> 
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="saveDate1(date1)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
            </v-col>
            <v-col cols="12" sm="3" md="3">
                <v-dialog
                    ref="dialog2"
                    v-model="modalTime1"
                    :return-value.sync="time1"
                    persistent
                    width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="time1"
                            label="Wybierz godzinę rozpoczęcia"
                            prepend-icon="mdi-clock-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="reqTime"
                        ></v-text-field>
                    </template>

                    <v-time-picker
                        v-if="modalTime1"
                        v-model="time1"
                        full-width
                        format="24hr"
                        show-current="initialDateStart"
                    >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="saveTime1(time1)">OK</v-btn>
                    </v-time-picker>
                </v-dialog>
            </v-col>
            <v-col cols="12" sm="3" md="3">
                <v-dialog
                    ref="dialog3"
                    v-model="modalDate2"
                    :return-value.sync="date2"
                    persistent
                    width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="date2"
                            label="Wybierz datę zakończenia"
                            prepend-icon="mdi-calendar-today"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="reqDate"
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="date2" scrollable :min="date1" locale="pl-pl"> 
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="saveDate2(date2)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
            </v-col>
            <v-col cols="12" sm="3" md="3">
                <v-dialog
                    ref="dialog4"
                    v-model="modalTime2"
                    :return-value.sync="time2"
                    persistent
                    width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="time2"
                            label="Wybierz godzinę zakończenia"
                            prepend-icon="mdi-clock-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="reqTime"
                        ></v-text-field>
                    </template>
                    <v-time-picker
                        v-if="modalTime2"
                        v-model="time2"
                        full-width
                        format="24hr"
                        :min="minTime"
                    >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="saveTime2(time2)">OK</v-btn>
                    </v-time-picker>
                </v-dialog>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    props:['date_start', 'date_end'],
    data: () => ({
        date1: null,
        date2: null,
        time1: null,
        time2: null,
        modalDate1: false,
        modalDate2: false,
        modalTime1: false,
        modalTime2: false,
        reqDate: [
            v => !!v || 'Proszę wybrać datę'
        ],
        reqTime: [
            v => !!v || 'Proszę wybrać godzinę'
        ],
    }),
     mounted() {
        if(this.date_start) {
            this.date1 = moment(this.date_start).format('YYYY-MM-DD');
            this.time1 = moment(this.date_start).format('HH:mm');
            this.date2 = moment(this.date_end).format('YYYY-MM-DD');
            this.time2 = moment(this.date_end).format('HH:mm');
        }
        this.$emit('input', this.collectDate);
    },
    
    computed: {
        minTime() {
            if (this.date1 == this.date2) {
                return this.time1
            }
            else {
                return "00:00"
            }
        },
        collectDate() {
            return {promotionStart: this.date1+' '+this.time1, promotionEnd: this.date2+' '+this.time2}
        }
    },
    methods: {
        saveDate1(e) {
            this.$refs.dialog1.save(e);
            this.$emit('input', this.collectDate);
        },
        saveTime1(e) {
            this.$refs.dialog2.save(e);
            this.$emit('input', this.collectDate);
        },
        saveDate2(e) {
            this.$refs.dialog3.save(e);
            this.$emit('input', this.collectDate);
        },
        saveTime2(e) {
            this.$refs.dialog4.save(e);
            this.$emit('input', this.collectDate);
        },
    }
}
</script>