<template>
  <div>
    <NewPromotion />
  </div>
</template>

<script>
import NewPromotion  from '@/components/NewPromotion/NewPromotion.vue'

export default {
  name: 'Promotion',
    data () {
        return {
          promoForm: 0
        }
    },
    computed: {
      currentStep() {
          return this.$store.getters['general/getCurrentStep']
        },
    },
    watch: { 
      	currentStep: function(newVal, oldVal) {
          if (newVal.step_id == 11) {
            this.$router.push({ path: '/edycja_promocji/'+newVal.promotion_id })
          }
        }
    },
    components: {
        NewPromotion,
    },
}
</script>
