<template>
  <div> 
    <v-snackbar :timeout="-1" :value="true">Step: {{currentStep}}</v-snackbar>
    <Step0 v-if="!currentStep.step_id || currentStep.step_id===0"  :currentPromoID="currentPromoID" /> 
    <Step11 v-if="currentStep.step_id===11" :currentPromoID="currentPromoID" />
    <Step12 v-if="currentStep.step_id===12" :currentPromoID="currentPromoID" />
    <Step13 v-if="currentStep.step_id===13" :currentPromoID="currentPromoID" />
    <Step14 v-if="currentStep.step_id===14" :currentPromoID="currentPromoID" /> 

    <Step21 v-if="currentStep.step_id===21" :currentPromoID="currentPromoID" />
    <Step22 v-if="currentStep.step_id===22" :currentPromoID="currentPromoID" />
    <Step23 v-if="currentStep.step_id===23" :currentPromoID="currentPromoID" />
    <Step24 v-if="currentStep.step_id===24" :currentPromoID="currentPromoID" />
    <Step25 v-if="currentStep.step_id===25" :currentPromoID="currentPromoID" />
    <Step26 v-if="currentStep.step_id===26" :currentPromoID="currentPromoID" />
  </div>
</template>

<script>
import Step0  from '@/components/EditPromotion/Step0.vue' //dane podstawowe
import Step11  from '@/components/EditPromotion/External/Step1.vue' //zewnetrzna krok1
import Step12  from '@/components/EditPromotion/Messages.vue' //zewnetrzna krok2- komunikaty
import Step13  from '@/components/EditPromotion/PromotionDecorators.vue' //zewnetrzna, badge, labele, lp url
import Step14  from '@/components/EditPromotion/PromotionSummary.vue' //zewnetrzna podumowanie 

import Step21  from '@/components/EditPromotion/Internal/Step1.vue' //wewnetrzna wybor gratisow
import Step22  from '@/components/EditPromotion/Internal/Step2.vue' //wewnetrzna wybor produktow glownych
import Step23  from '@/components/EditPromotion/Internal/Step3.vue' //wewnetrzna wybor produktow podrzednych
import Step24  from '@/components/EditPromotion/Messages.vue' //wewnetrzna komunikaty
import Step25  from '@/components/EditPromotion/PromotionDecorators.vue' // wewnetrzna badge, labele, lp url
import Step26  from '@/components/EditPromotion/PromotionSummary.vue' // wewnetrzna, podsumowanie

export default {
  name: 'Promotion',
  props: ['setStep'],
  mounted () {
    if(!this.currentStepID) {
      this.currentStepID = 0;
    }
  },
  beforeDestroy () {
    this.$store.dispatch("general/changeStep", {promotion_id: null});
  },
  data () {
      return {
        promoForm: 0,
        currentPromoID: this.$route.params.id,
        currentStepID: null
      }
  },
  computed: {
      currentStep() {
          return this.$store.getters['general/getCurrentStep']
        },
    },
  components: {
      Step0,
      Step11,
      Step12,
      Step13,
      Step14,
      Step21,
      Step22,
      Step23,
      Step24,
      Step25,
      Step26
  },
  watch: { 
      	currentStep: function(newVal, oldVal) {
          this.currentStepID = newVal.step_id;
        }
    }
}
</script>
