<template>
        <div class="pa-md-4">
          <v-card-title>Zaloguj się</v-card-title>
          <v-card-text>
              <v-form>
                    <v-row>
                        <v-col
                            cols="12"
                            xs="6"
                            md="3"
                        >
                            <v-text-field
                                v-model="credential.email"
                                :rules="testEmail"
                                label="E-mail"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col
                            cols="12"
                            xs="6"
                            md="3"
                        >
                            <v-text-field
                                v-model="credential.password"
                                type="password"
                                label="Hasło"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-btn depressed @click="login">
                            Zaloguj
                        </v-btn>
                    </v-row>
                    <v-row>
                        <a :href="resetLink">Resetuj hasło</a>
                    </v-row>
              </v-form>
          </v-card-text>
        </div>

</template>

<script>
import apiHostname from '@/_helpers/api_hostname'

export default {
    data: () => ({
        credential: {email: 'admin', password: 'admin'},
        testEmail: [
            v => !!v || 'Pole e-mail jest wymagane',
            v => /.+@.+/.test(v) || 'Wprowadź poprawny adres email',
        ],
    }),
    methods: {
        login(){
            if(this.credential.email && this.credential.password) {
                this.$store.dispatch("user/loginUser", this.credential);
            }
        }
    },
    computed: {
        resetLink(){
            return (apiHostname().acl+'/reset-password')
        }
    }
}
</script>