<template> 
  <div>
      <v-card-title>Podgląd promocji, id: {{currentPromoID}}</v-card-title>
      <v-card-text>
        <v-spacer></v-spacer>
        <v-row>
          <v-col cols="12" sm="12" md="6">
            <v-simple-table dense v-if="promotionData.type">
              <tbody>
                  <tr v-if="promotionData.type.name"><td class="font-weight-bold">Typ promocji:</td> <td>{{promotionData.type.name}}</td></tr>
                  <tr><td class="font-weight-bold">Nazwa promocji:</td> <td>{{promotionData.name}}</td></tr>
                  <tr><td class="font-weight-bold">ID promocji:</td> <td>{{promotionData.id}}</td></tr>
                  <tr><td class="font-weight-bold">Start promocji:</td> <td>{{promotionData.start_date | formatDate}}</td></tr>
                  <tr><td class="font-weight-bold">Koniec promocji:</td> <td>{{promotionData.end_date | formatDate}}</td></tr>
                  <tr><td class="font-weight-bold">Wartość koszyka:</td> <td>{{promotionData.minBasketValue }}</td></tr>
                  <tr><td class="font-weight-bold">Założona przez:</td> <td>{{promotionData.user}}</td></tr>
                  <tr><td class="font-weight-bold">Komunikat koszykowy</td> <td>{{promotionData.description.basketMessage}}</td></tr>
                  <tr>
                      <td class="font-weight-bold">Komunikaty koszykowe</td> 
                      <td>
                          <ul v-for="message in promotionData.promotionMessages" :key="message.promotionMessageType.name">
                              <li><span class="subtitle-2">{{message.promotionMessageType.name}}:</span> <br>{{message.message}}</li>
                          </ul>
                      </td>
                  </tr>
                  <tr><td class="font-weight-bold">Link komunikatu koszykowego</td> <td>{{promotionData.description.basketUrl}}</td></tr>
                  <tr><td class="font-weight-bold">Adres LandingPage</td> <td>{{promotionData.description.lpUrl}}</td></tr>
                  <tr><td class="font-weight-bold">Label:</td> <td>{{promotionData.description.label}}</td></tr>
                  <tr><td class="font-weight-bold">Wybrany badge:</td> <td><img height="150px" :src="promotionData.description.badge" alt=""/></td></tr>
              </tbody>
            </v-simple-table>
          </v-col>
          <v-col cols="12" sm="12" md="6" >
            <v-card >
              <v-card-title>
                Produkty gratisowe
              </v-card-title>
               <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                      <th>Liczba sztuk</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[3]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                      <td v-if="!item.promotionProductProperty.isStockLimit">
                        {{item.promotionProductProperty.quantityLimit}}
                      </td>
                      <td v-else>
                        do stanu mag
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
            <v-card >
              <v-card-title>
                Produkty główne
              </v-card-title>
              <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[1]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
            <v-card >
              <v-card-title>
                Produkty podrzędne
              </v-card-title>
              <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[2]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
  </div>
</template>

<script>

import ProductsPreview from '@/components/NewPromotion/ProductsPreview.vue'
import moment from 'moment';

export default {
  name: 'PromotionList',
  components: {
    ProductsPreview
  },

  data () {
        return {
          products: [],
          currentPromoID: this.$route.params.id,
          selectedProducts: []
    }
  },

  beforeMount () {
    this.$store.dispatch("general/getInitialPromotionData", null);
    this.$store.dispatch("general/getInitialPromotionData", this.currentPromoID);
    this.$store.dispatch("general/fetchSelectedProductsByType", {promo_id: this.currentPromoID});
  },
  computed: {
    promotionData() {
        return this.$store.getters['general/getInitialPromotionData']
    },
    miniTableProducts () {
        return this.$store.getters['general/getSelectedProductsByType']
    }
  },
  filters: {
    formatDate: function(val) {
    return moment(String(val)).format('YYYY-MM-DD, HH:mm:ss')
    }
  }
}
</script>


