<template>
  <div>
        <v-card>
          <v-card-title>Lista produktów</v-card-title>
          <v-card-text>
              <SelectCategory />
              <ProductsTable />
             
              <v-spacer></v-spacer>
              <v-row>
                  <v-btn
                    color="default"
                    class="ma-2"
                    :to="{name: 'Promo1'}"
                    >
                        Wstecz
                  </v-btn>
                  <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    :to="{name: 'PromotionDetails'}"
                    >
                        Ustaw parametry promocji
                  </v-btn>

              </v-row>
          </v-card-text>
        </v-card>

  </div>
</template>


<script>
import ProductsTable from '@/components/_tables/ProductsTable.vue'
import SelectCategory from '@/components/_forms/SelectCategory.vue'

  export default {
    components: {
      ProductsTable,
      SelectCategory
    },

    data: () => ({
      showTable: false
    }),
  }
</script>