<template>
  <div>
    <v-card-title class="grey lighten-2">Lista promocji</v-card-title>
    <v-card-text>
        <PromotionTable :ListType="promotionListStatusID" />
    </v-card-text>
  </div>
</template>

<script>
  // @ is an alias to /src
  import PromotionTable from '@/components/PromotionList/PromotionListTable.vue'

  export default {
    name: 'PromotionList',
    components: {
      PromotionTable,
    },
    data: () => ({
    }),
    computed: {
      promotionListStatusID() {
        switch (this.$route.params.id) {
          case 'szkice':
            return 1;
            break;
          case 'opublikowane':
            return 2;
            break;
          case 'archiwum':
            return 3;
            break;
          default:
            return false;
        }
      }
    }
  }
</script>


