<template>
  <div >
    <v-card>
      <v-card-title>Podsumowanie promocji</v-card-title>
      <v-card-text>
          <v-alert type="info">
            <p><b>Nazwa promocji:</b> Cyfrowe liderem sprzedaży</p>
            <p><b>Data od:</b> 12/07/2020</p>
            <p><b>Data do:</b> 12/10/2020</p>
          </v-alert>
          <v-row>
            <v-col cols="12" sm="2" md="3">
              <v-card>
                <v-card-title>
                  Produkty główne
                </v-card-title>
                <v-card-text>
                  <ProductsPreview v-bind:products="products" />
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" sm="2" md="3">
              <v-card>
                <v-card-title>
                  Produkty dodatkowe
                </v-card-title>
                <v-card-text>
                  <ProductsPreview v-bind:products="products" />
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

         <v-row>
                  <v-btn
                    color="default"
                    class="ma-2"
                    :to="{name: '#'}"
                    >
                        Wstecz
                  </v-btn>
                  <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    :to="{name: 'PromotionSummary'}"
                    >
                        Uruchom promocję
                  </v-btn>

              </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src
import ProductsPreview from '@/components/NewPromotion/ProductsPreview.vue'

export default {
  name: 'PromotionList',
  components: {
    ProductsPreview
  },
  data () {
        return {
          products: [
                {
                    id_v: '54322667',
                    nazwa: 'Instax BOX Mini 9',
                    producent: 'FujiFilm',
                    pm: 'BA',
                    kategoria: 'Aparaty',
                    podkategoria: 'kompakty z natychmiastowym wydrukiem',
                },
                {
                    id_v: '3363544445',
                    nazwa: 'PowerShot G7 X Mark III, srebrny',
                    producent: 'Canon',
                    pm: 'PR',
                    kategoria: 'Aparaty',
                    podkategoria: 'kompakty',
                },
                {
                    id_v: '3362345',
                    nazwa: 'X100F czarny ',
                    producent: 'FujiFilm',
                    pm: 'BA',
                    kategoria: 'Aparaty',
                    podkategoria: 'kompakty',
                },
                {
                    id_v: '3223111111',
                    nazwa: 'EOS M6 Mark II ',
                    producent: 'Canon',
                    pm: 'AG',
                    kategoria: 'Aparaty',
                    podkategoria: 'Lustrzanki',
                },
                {
                    id_v: '336345f',
                    nazwa: 'X-T30 body grafitowy',
                    producent: 'FujiFilm',
                    pm: 'MR',
                    kategoria: 'Aparaty',
                    podkategoria: 'Lustrzanki',
                },
                {
                    id_v: '5622311',
                    nazwa: 'OM-D E-M1 Mark II body czarny',
                    producent: 'Olympus',
                    pm: 'LK',
                    kategoria: 'Aparaty',
                    podkategoria: 'Lustrzanki',
                },
                {
                    id_v: 'asd354hg',
                    nazwa: 'Canon EOS RP',
                    producent: 'Canon',
                    pm: 'AG',
                    kategoria: 'Aparaty',
                    podkategoria: 'Bezlusterkowce',
                },
                {
                    id_v: '3457894',
                    nazwa: 'GFX 50S',
                    producent: 'FujiFilm',
                    pm: 'BA',
                    kategoria: 'Aparaty',
                    podkategoria: 'Bezlusterkowce',
                },
                {
                    id_v: '890345123',
                    nazwa: 'PEN-F srebrny',
                    producent: 'Olympus',
                    pm: 'LK',
                    kategoria: 'Aparaty',
                    podkategoria: 'Bezlusterkowce',
                },
                {
                    id_v: '12312380',
                    nazwa: 'Now żółty ',
                    producent: 'Polaroid ',
                    pm: 'LK',
                    kategoria: 'Aparaty',
                    podkategoria: 'kompakty z natychmiastowym wydrukiem',
                },
                {
                    id_v: '1234567',
                    nazwa: 'Snap Touch LCD FullHD Video Czarny',
                    producent: 'Polaroid',
                    pm: 'LK',
                    kategoria: 'Aparaty',
                    podkategoria: 'kompakty z natychmiastowym wydrukiem',
                }
      ]
    }
  }
  }
</script>


