<template>
    <div>
        <v-card-title class="indigo  lighten-5">Panel promocji cyfrowe</v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="3" sm="12" md="4">
                    <v-btn
                        color="green "
                        dark
                        :to="{path: '/nowa_promocja'}"
                        >
                        Stwórz nową promocję
                    </v-btn>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" sm="12" md="12">
                    <h3>Wyświetl listę promocji według statusu</h3>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-btn
                                color="blue"
                                dark
                                class="mx-2"
                                :to="{path: '/lista_promocji/szkice'}"
                                >
                                Szkice
                            </v-btn>
                            <v-btn
                                color="amber darked-1"
                                dark
                                class="mx-2"
                                :to="{path: '/lista_promocji/opublikowane'}"
                                >
                                Opublikowane
                            </v-btn>
                            <v-btn
                                color="red"
                                dark
                                class="mx-2"
                                :to="{path: '/lista_promocji/archiwum'}"
                                >
                                Archiwalne
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-btn
                                color="purple"
                                dark
                                class="mx-2"
                                :to="{path: '/lista_promocji/wszystkie'}"
                                >
                                Wszystkie
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-card-text>
    </div>
</template>

<script>
export default {

}
</script>