<template>
    <div>
        <v-alert v-if="productsByCat.length==0"
            border="bottom"
            colored-border
            type="warning"
            elevation="2"
            class="mr-5"
            >
            Nie znaleziono produktów. Wybierz kategorię lub wprowadź indeks produktu.
        </v-alert>
        
        <div v-if="productsByCat.length>0">
            <v-col cols="12" class="pa-0">
                <v-row no-gutters>
                <v-col cols="8" sm="8" md="8">
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-table-search"
                        label="Wprowadź słowo lub wartość w celu odfiltrowania wyników"
                        single-line
                        hide-details
                    ></v-text-field>
                </v-col>
                <v-col cols="6"  sm="4" md="4" >
                    <div class="text-right">
                    <v-btn
                        color="primary"
                        class="ma-2 success"
                        align="right"
                        small
                        @click="addProducts">
                            dodaj zaznaczone >
                    </v-btn>
                    </div>
                </v-col>
                </v-row>
            </v-col>
            <v-data-table
                :headers="headers"
                :items="productsByCat"
                item-key="erpIndex"
                :search="search"
                show-select
                multi-sort
                v-model="selectedProductsByCat"
            >
            </v-data-table>
        </div>
    </div>
</template>

<script>
export default {
    props:['categoryID','currentPromoID'],
    watch: { 
          selectedCat: function(newVal, oldVal) { // watch it
            if(!newVal) this.search = ''
        }
    },
    data () {
        return {
            search: '',
            selectedProductsByCat: [],
            headers: [
            { text: 'Index', value: 'erpIndex' },
            { text: 'Producent', value: 'producer.name' },
            {
                text: 'Nazwa',
                align: 'start',
                value: 'name',
            },
            { text: 'PM', value: 'pm.name' },
            { text: 'Cena', value: 'price' },
            { text: 'Sztuk w magazynie', value: 'stock' },
            ],
            products: [],
        } 
    },
    computed: {
        productsByCat() {
            return this.$store.getters['general/getProductsByCategory']
        },
        selectedCat() {
            return this.$store.getters['general/getSelectedCat']
        }
    },
    methods: {
        addProducts() {
            this.$store.dispatch("general/addSelectedProducts", this.selectedProductsByCat);
        }
    }
}
</script>