<template>
    <div>
        <v-card-title>Wybrane produkty do promocji</v-card-title>
        <v-simple-table 
            dense 
            height="300px"
        >
            <thead>
                <tr>
                    <th></th>
                    <th>Indeks</th>
                    <th>Produkt</th>
                    <th v-if="withQuantity">Do stanu mag</th>
                    <th v-if="withQuantity">Sztuk</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="sProd in miniTableProducts" :key="sProd.erpIndex">
                    <td>
                        <v-tooltip left>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn 
                                    icon 
                                    x-small
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="removeProduct(sProd.erpIndex)"
                                >
                                    <v-icon color="gray">
                                        mdi-close-circle
                                    </v-icon>
                                </v-btn>
                            </template>
                                <span>Usuń produkt</span>
                        </v-tooltip>
                    </td>
                    <td v-bind:class="{'red--text': sProd.isDeleted}" class="text-no-wrap"> 
                        <v-tooltip v-if="!sProd.isActive" right>
                            <template v-slot:activator="{ on, attrs }">
                                <span 
                                    x-small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    <v-icon color="teal">
                                        mdi-bell-alert
                                    </v-icon> 
                                </span>
                            </template>
                            <span>Produkt nieaktywny</span>
                        </v-tooltip>
                        {{ sProd.erpIndex }}
                    </td>
                    <td v-bind:class="{'red--text': sProd.isDeleted}">  
                        {{ sProd.name }}
                    </td>
                    <td v-if="withQuantity">
                        <v-checkbox
                            :input-value="sProd.isStockLimit"
                            :data-erpindex="sProd.erpIndex"
                            @change="toggleStockLimit(sProd.erpIndex)"
                        ></v-checkbox>
                    </td>
                    <td v-if="withQuantity">
                        
                        <v-text-field
                            placeholder="0"
                            type="number"
                            :value="sProd.quantityLimit"
                            :data-erpindex="sProd.erpIndex"
                            @blur="setQuantity"
                            :disabled="sProd.isStockLimit"
                            min="0"
                            max="999"
                            size="4"
                        >
                        </v-text-field>
                    </td>
                </tr>
            </tbody>
        </v-simple-table>
       
    </div>
</template>

<script>
export default {
    data: ()=> ({
        checkbox: {}
    }),
    props: ['withQuantity'],
    computed: {
        miniTableProducts () {
            return this.$store.getters['general/getSelectedProducts']
        }
    },
    methods: {
        removeProduct(erpIndex) {
            this.$store.dispatch("general/removeFromSelectedProducts", erpIndex);
        },
        setQuantity(e) {
            this.$store.dispatch("general/changeQuantitySelectedProducts", {erpIndex: e.target.dataset.erpindex, quantityLimit: e.target.value});
        },
        toggleStockLimit(erpIndex) {
            this.$store.dispatch("general/toggleQuantitySelectedProducts", erpIndex);
        }
    }
}
</script>