<template>
  <v-app>
    <TopBar />
    <v-main>
      <Sidebar />
      <v-alert
          v-if="errorMessage"
          border="left"
          close-text="Zamknij"
          dismissible
          text
          prominent
          type="error"
          icon="mdi-cloud-alert"
          >
          {{errorMessage}}
      </v-alert>

      <router-view></router-view>
      <v-snackbar
        v-model="operationConfirmed"
        :timeout="timeout"
        color="success"
      >
        Operacja wykonana. {{successText}}
        <template v-slot:action="{ attrs }">
          <v-btn
            color="green"
            text
            v-bind="attrs"
          >
            Zamknij
          </v-btn>
        </template>
      </v-snackbar>
            <div style="color: white;">{{timeToLogout}} do wylogowania</div>
    </v-main>
  </v-app>
</template>

<script>

import Sidebar from '@/components/LayoutElements/Sidebar.vue'
import TopBar from '@/components/LayoutElements/TopBar.vue'
import moment from 'moment';

export default {
  name: 'App',
  beforeCreate() {
    document.title = 'Panel promocji'
  },
  mounted() {
    this.$store.dispatch("user/initialUser");
    setInterval(this.getTimeLeft, 1000);
  },
  components: {
    Sidebar,
    TopBar
  },
  methods: {

    getTimeLeft() {
      this.timeToLogout = moment(this.getExpireTime).diff(moment(), 'seconds'); 
    }
  },
  computed: {
    successMessage() {
      return this.$store.getters['general/getSuccessMessage']
    },
    errorMessage() {
      return this.$store.getters['general/getErrorMessage']
    },
    getExpireTime() {
       return this.$store.getters['user/getAuthData'].expire_time
    },
  },

  watch: { 
      timeToLogout: function(newD, oldD) {
        if (this.getExpireTime) {
          if (newD<120 ) { 
              if (newD<10) { 
                this.$store.dispatch("user/logout"); //wylogowanie
              } else {
                this.$store.dispatch("user/refreshToken"); //refresh token
              }
          } 
        } 
      },
      successMessage: function(newVal, oldVal) { // watch it
        if( oldVal != newVal && newVal!= null ) {
          this.successText = newVal;
          this.operationConfirmed = true;
          this.$store.dispatch("general/setSuccessMessage", null);
        }
      },
      '$route' (to, from) {
        document.title = to.meta.title || 'Panel promocji'
      }
  },
  data: () => ({
    sidebarStatus: true,
    operationConfirmed: false,
    successText: null,
    timeout: 5000,
    timeToLogout: ""
    //
  }),
};
</script>
