<template>
    <v-dialog
      v-model="dialog"
      width="500"
      persistent
    >
      <v-card>
        <v-card-title class="headline green lighten-3">
            Czy opublikować promocję?
        </v-card-title>
        <v-card-text color="red lighten-5">
            <br>
            Promocja zostanie poddana walidacji. <br>
            <b>Po pozytywnym przejściu walidacji</b> zostanie opublikowana<br> i uruchomiona zgodnie z ustawionym terminem.<br>
        </v-card-text>

        <v-card-actions>
          <v-row no-gutters>
            <v-col>
                <v-btn
                    color="green"
                    text
                    @click="publishConfirmation(true)"
                >
                    Potwierdzam
                </v-btn>
            </v-col>
            <v-spacer></v-spacer>
            <v-col>
                <v-btn
                    color="red"
                    text
                    @click="publishConfirmation(false)"
                >
                    Anuluj
                </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
<script>
export default {
    props: ['promoID'],
    data: () => ({
        dialog: true
    }),
    methods: {
        publishConfirmation(e) {
            if(e===true) {
                this.$store.dispatch("general/publishPromotion", this.promoID);
            }
            this.$emit('close-dialog', true);
        }
    }
}
</script>