<template>
    <div>
        <v-card-title class="blue lighten-3">Edycja promocji: ID {{currentPromoID}} - Komunikaty koszykowe</v-card-title>
        <v-card-text>
            <v-form
                ref="promotionMessagesForm"
                v-model="valid"
                lazy-validation
            >
            <div>
                <v-row>
                    <MessageText v-if="fetchedMessages" :defaultVal="defaultPromotionMessages.positive" :fetchedMessage="fetchedMessages.positive" :promotionID="currentPromoID" v-model="promotionMessages.positive"/>
                </v-row>
                <v-row>    
                    <MessageText v-if="fetchedMessages" :defaultVal="defaultPromotionMessages.negative" :fetchedMessage="fetchedMessages.negative" :promotionID="currentPromoID" v-model="promotionMessages.negative"/>
                </v-row>
                <v-row>
                    <MessageText v-if="fetchedMessages" :defaultVal="defaultPromotionMessages.order" :fetchedMessage="fetchedMessages.order" :promotionID="currentPromoID" v-model="promotionMessages.order"/>
                </v-row>
            </div>
                <v-row>
                    <v-col cols="12" sm="6" md="6">
                        <v-btn
                            color="default"
                            class="ma-2"
                            @click="stepBack">
                                Wstecz
                        </v-btn>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                        <div class="text-right">
                            <v-btn
                                color="primary"
                                class="ma-2"
                                dark
                                @click="validate">
                                    Zapisz 
                            </v-btn>i Ustaw parametry promocji
                        </div>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
    </div>
</template>

<script>

import MessageText from '@/components/_forms/PromotionMessageTextarea.vue'

export default {
    props: ['currentPromoID'],
    name: 'Promotion',
    data () {
        return {
            showTable: false,
            valid: true,
            categoryID: null,
            promotionMessages: {},
            defaultPromotionMessages: {
                positive: {
                    type_id: 1,
                    label: 'Komunikat dla spełnionych warunków',
                    message: 'Do koszyka został dodany gratis. Spełniłeś warunki promocji.'
                },
                negative: {
                    type_id: 2,
                    label: 'Komunikat dla częściowo spełnionych warunków',
                    message: 'Jeden z produktów w koszyku znajduje się promocji, ale nie wszystkie warunki zostały spełnione. Zapoznaj się z warunkami promocji.'
                },
                order: {
                    type_id: 3,
                    label: 'Komunikat do zamówienia (Verto)',
                    message: ''
                }
            }
        }
    },
    beforeMount() {
        this.$store.dispatch("general/clearPromotionMessages");
    },
    mounted() {
        this.$store.dispatch("general/fetchPromotionMessages", this.currentPromoID);
    },
    beforeDestroy() {
        this.$store.dispatch("general/clearPromotionMessages");
    },
    methods: {
        validate() {
            if (this.$refs.promotionMessagesForm.validate()) {
                this.$store.dispatch("general/setErrorMessage", null);
                this.sendForm(this.promotionMessages)
            } else {
                this.$store.dispatch("general/setErrorMessage", 'Proszę uzupełnić komunikaty')
            }
        },
        sendForm() {
            this.$store.dispatch("general/updatePromotionMessages", {promotion_id: this.currentPromoID, step_id: (this.currentStep.step_id+1), promotionMessages: this.messagesArray })
        },
        stepBack() {
            this.$store.dispatch("general/changeStep", { step_id: (this.currentStep.step_id-1), promotion_id: this.currentPromoID } );
        },
    },
    computed: {
        messagesArray() {
            return [this.promotionMessages.positive, this.promotionMessages.negative, this.promotionMessages.order]
        },
        currentStep() {
            return this.$store.getters['general/getCurrentStep']
        },
        fetchedMessages() {
            return this.$store.getters['general/getPromotionMessages'];
        }
    },
    components: {
        MessageText
    }
}
</script>