<template>
    <div>
        <v-card-title class="blue lighten-3">Edycja promocji: ID {{currentPromoID}} - Podsumowanie</v-card-title>
        <v-card-text>
            <ActivateDialog v-if="publishDialog" :promoID="promotionData.id" @close-dialog="closeDialog" />
            <v-row>
                <v-col cols="12" sm="12" md="6" >
                    <v-simple-table dense v-if="promotionData">
                        <tbody>
                            <tr><td class="font-weight-bold">Typ promocji:</td> <td>{{promotionData.type.name}}</td></tr>
                            <tr><td class="font-weight-bold">Nazwa promocji:</td> <td>{{promotionData.name}}</td></tr>
                            <tr><td class="font-weight-bold">ID promocji:</td> <td>{{promotionData.id}}</td></tr>
                            <tr><td class="font-weight-bold">Start promocji:</td> <td>{{promotionData.start_date}}</td></tr>
                            <tr><td class="font-weight-bold">Koniec promocji:</td> <td>{{promotionData.end_date}}</td></tr>
                            <tr><td class="font-weight-bold">Założona przez:</td> <td>{{promotionData.user}}</td></tr>
                            <tr><td class="font-weight-bold">BasketMessage:</td> <td>{{promotionData.description.basketMessage}}</td></tr>
                            <tr>
                                <td class="font-weight-bold">Komunikaty koszykowe</td> 
                                <td>
                                    <ul v-for="message in promotionData.promotionMessages" :key="message.promotionMessageType.name">
                                        <li><span class="subtitle-2">{{message.promotionMessageType.name}}:</span> <br>{{message.message}}</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr><td class="font-weight-bold">Adres LandingPage</td> <td>{{promotionData.description.lpUrl}}</td></tr>
                            <tr><td class="font-weight-bold">Label:</td> <td>{{promotionData.description.label}}</td></tr>
                            <tr><td class="font-weight-bold">Wybrany badge:</td> <td><img height="150px" :src="promotionData.description.badge" alt=""/></td></tr>
                        </tbody>
                    </v-simple-table>
                </v-col>
                          <v-col cols="12" sm="12" md="6" >
            <v-card v-if="miniTableProducts[3].length">
              <v-card-title>
                Produkty gratisowe
              </v-card-title>
               <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                      <th>Liczba sztuk</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[3]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                      <td v-if="!item.promotionProductProperty.isStockLimit">
                        {{item.promotionProductProperty.quantityLimit}}
                      </td>
                      <td v-else>
                        do stanu mag
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
            <v-card >
              <v-card-title>
                Produkty główne
              </v-card-title>
              <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[1]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
            <v-card v-if="miniTableProducts[2].length">
              <v-card-title>
                Produkty podrzędne
              </v-card-title>
              <v-card-text>
                <v-simple-table dense>
                  <thead>
                    <tr>
                      <th>Nazwa produktu:</th>
                      <th>Indeks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in miniTableProducts[2]" :key="item.product.erpIndex">
                      <td>
                        {{item.product.name}}
                      </td>
                      <td>
                        {{item.product.erpIndex}}
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
          </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" sm="6" md="3">
                    <v-btn
                        color="default"
                        class="ma-2"
                        @click="stepBack">
                            wstecz
                    </v-btn>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                    <div class="text-right">
                        <v-btn
                            color="primary"
                            class="ma-2"
                            dark
                            @click="publishDialog = true"
                            >
                                Opublikuj promocję
                        </v-btn> 
                    </div>
                </v-col>
            </v-row>
            
        </v-card-text>
    </div>
</template>

<script>
import LandingPageInput from '@/components/_forms/LandingPageInput.vue'
import ActivateDialog  from '@/components/_dialogs/ActivateDialog.vue'

export default {
    props: ['currentPromoID'],
    data: () => ({
        publishDialog: false
    }),
    beforeMount() {
        this.$store.dispatch("general/getInitialPromotionData", this.currentStep.promotion_id);
        this.$store.dispatch("general/fetchSelectedProductsByType", {promo_id: this.currentPromoID});
    },
    methods: {
        stepBack() {
            this.$store.dispatch("general/changeStep", { step_id: (this.currentStep.step_id-1), promotion_id: this.currentStep.promotion_id, promotion_type_id: this.currentStep.promotion_type_id } );
        },
        closeDialog() {
            this.publishDialog = false;
        }
    },
    computed: {
        promotionData() {
           return this.$store.getters['general/getInitialPromotionData']
        },
        currentStep() {
          return this.$store.getters['general/getCurrentStep']
        },
        miniTableProducts () {
            return this.$store.getters['general/getSelectedProductsByType']
        }
    },
    components: {
        LandingPageInput,
        ActivateDialog
    }
}
</script>