<template>
    <div>
        <v-card-title class="blue lighten-3">Edycja promocji: ID {{currentPromoID}} - Labele, Badge</v-card-title>
        <v-card-text>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-row>
                    <v-col cols="12" sm="12" md="6" class="pa-4">
                        <LandingPageInput v-if="promotionData.id" v-model="formData.lpURL" :initialLP="promotionData.description.lpUrl"/>
                        <LabelInput v-if="promotionData.id" v-model="formData.label" :initialLabel="promotionData.description.label"/>
                        <BadgeFileInput v-if="promotionData.id" v-model="formData.badge" :initialBadge="promotionData.description"/>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" sm="6" md="6">
                        <v-btn
                            color="default"
                            class="ma-2"
                            @click="stepBack">
                                Wstecz
                        </v-btn>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                        <div class="text-right">
                            <v-btn
                                color="primary"
                                class="ma-2"
                                dark
                                @click="validate"
                                >
                                    Zapisz
                            </v-btn>
                        </div>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
    </div>
</template>

<script>
import LandingPageInput from '@/components/_forms/LandingPageInput.vue'
import LabelInput from '@/components/_forms/LabelInput.vue'
import BadgeFileInput from '@/components/_forms/BadgeFileInput.vue'

export default {
    props: ['currentPromoID'],
    data: () => ({
        valid: true,
        formData: {}
    }),
    beforeMount() {
        this.$store.dispatch("general/getInitialPromotionData", null);
        this.$store.dispatch("general/getInitialPromotionData", this.currentStep.promotion_id);
        this.$store.dispatch("general/fetchPromotionMessages", this.currentPromoID);
    },
    components: {
        LandingPageInput,
        LabelInput,
        BadgeFileInput
    },
    methods: {
        stepBack() {
            this.$store.dispatch("general/changeStep", { step_id: (this.currentStep.step_id-1), promotion_id: this.currentStep.promotion_id, promotion_type_id: this.currentStep.promotion_type_id } );
        },
        validate () {
            if (this.$refs.form.validate()) {
                this.$store.dispatch("general/setErrorMessage", null);
                this.formData.promotion_id = this.currentStep.promotion_id;
                this.$store.dispatch("general/promotionDecorators", {promotion_id: this.currentPromoID, step_id: (this.currentStep.step_id+1), basketMessage: this.basketMessage.positive, formData: this.formData});
            } else {
                this.$store.dispatch("general/setErrorMessage", 'Formularz zawiera błędy')
            }
        }
    },
    computed: {
        basketMessage() {
            return this.$store.getters['general/getPromotionMessages'];
        },
        promotionData() {
           return this.$store.getters['general/getInitialPromotionData']
        },
        currentStep() {
          return this.$store.getters['general/getCurrentStep']
        },
    },
}
</script>