<template>
    <div>
        <v-card-title class="blue lighten-3">Edycja promocji: ID {{initialFormData.id}} - dane podstawowe</v-card-title>
        <v-toolbar flat>
            <v-toolbar-title v-if="initialFormData.type">Typ promocji: {{initialFormData.type.name}}</v-toolbar-title><br>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-form
                ref="newPromoForm"
                v-model="valid"
                lazy-validation
                v-if="initialFormData.name"
            >
                <v-row >
                    <v-col cols="12" sm="12" md="4">
                        <PromotionName v-if="initialFormData.name" :initialName="initialFormData.name" v-model="basicData.promotionName" />
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                        <PromotionTags v-if="initialFormData.name" :initialTags="initialFormData.tags" v-model="basicData.promotionTags" />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="12" md="4">
                    <MinimalBasket :initialMinimalBasket="initialFormData.minBasketValue" v-model="basicData.minBasketValue"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <DateTimeSelect v-if="initialFormData.start_date" :date_start="initialFormData.start_date" :date_end="initialFormData.end_date" v-model="basicData.promotionDate" />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <div class="text-right">
                            <v-btn
                                depressed
                                color="primary"
                                @click="validate"
                                >
                                    Zapisz
                            </v-btn> i przejdź do wyboru produktów
                        </div>
                </v-col>
                </v-row>
            </v-form>
        </v-card-text>
    </div>
</template>

<script>
import PromotionType  from '@/components/_forms/PromotionType.vue'
import DateTimeSelect  from '@/components/_forms/SelectDateTime.vue'
import PromotionName from '@/components/_forms/PromotionName.vue'
import PromotionTags from '@/components/_forms/PromotionTags.vue'
import MinimalBasket from '@/components/_forms/MinimalBasket.vue'

export default {
    props: ['currentPromoID'],
    name: 'Promotion',
    data: () => ({
        basicData: {},
        valid: true,
        properName: true
    }),
    beforeMount() {
        this.$store.dispatch("general/getInitialPromotionData", null);
        this.$store.dispatch("general/getInitialPromotionData", this.currentPromoID);
    },
    beforeDestroy() {
        this.$store.dispatch("general/getInitialPromotionData", null);
    },
    methods: {
        sendForm(formData) {
             if (this.initialFormData.id) {
                formData.id = this.initialFormData.id;
                formData.type_id = this.initialFormData.type.id;
                formData.user_name = this.currentUser;
            }
             this.$store.dispatch("general/updatePromotion", formData)
        },
        validate () {
            if (this.$refs.newPromoForm.validate()) {
                this.$store.dispatch("general/setErrorMessage", null);
                  this.sendForm(this.basicData)
            } else {
                this.$store.dispatch("general/setErrorMessage", 'Proszę uzupełnić dane promocji formularza')
            }
        }
    },
    computed: {
        initialFormData() {
           return this.$store.getters['general/getInitialPromotionData']
        },
        currentStep() {
          return this.$store.getters['general/getCurrentStep']
        },
        currentUser() {
           return this.$store.getters['user/getUserData'].user_name;
        }
    },

    components: {
        PromotionType,
        DateTimeSelect,
        PromotionName,
        PromotionTags,
        MinimalBasket
    }
}
</script>