<template>
    <div>
        <v-menu
              bottom
              left
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                    <v-btn small depressed color="grey white--text" @click="previewPromo(promoData.id)">Podgląd</v-btn>
                </v-list-item>
                <v-list-item v-if="promoData.status.id !=3">
                    <v-btn small depressed color="light-blue lighten-1 white--text" @click="editPromo(promoData.id)"> <v-icon color="white">mdi-file-document-edit-outline</v-icon> Edytuj</v-btn>
                </v-list-item>
                <v-list-item v-if="promoData.status.id !=3 && promoData.status.id !=1">
                    <v-btn small depressed color="red lighten-1 white--text" @click="stopPromo(promoData)" > <v-icon color="white">mdi-stop</v-icon> Zakończ</v-btn>
                </v-list-item>
                <v-list-item>
                    <v-btn small depressed color="warning white--text" @click="clonePromo(promoData)"> <v-icon color="white" dark>mdi-content-copy</v-icon> Klonuj</v-btn>
                </v-list-item>
              </v-list>
        </v-menu>
    </div>
</template>

<script>
export default {
    props: ['promoData'],
    data: ()=>({
    }),
    methods: {
        stopPromo(e) {
           this.$emit('action-button-click', {action: 'stop', promotionDetails: e})
        },
        editPromo(e) {
          this.$store.dispatch("general/clearPromotionData");
          this.$router.push({ path: '/edycja_promocji/'+e })
        },
        clonePromo(e) {
          this.$emit('action-button-click', {action: 'clone', promotionDetails: e})
        },
        previewPromo(e) {
          this.$store.dispatch("general/clearPromotionData");
          this.$router.push({ path: '/podglad_promocji/'+e });
        },
    }
}
</script>