<template>
    <v-dialog
      v-model="dialog3"
      width="500"
      persistent
    >
      <v-card>
        <v-card-title class="headline warning lighten-3">
            Czy chcesz sklonować promocję?
        </v-card-title>
        <v-card-text color="warning lighten-5">
            <p>
                Zostanie utworzona nowa promocja z parametrami obecnej.<br> 
                Automatycznie przejdziesz do edycji nowej promocji.
            </p>
            <v-simple-table>
                <tr><td class="font-weight-black">Typ promocji:</td> <td>{{promoData.promotionDetails.type.name}}</td></tr>
                <tr><td class="font-weight-black">Nazwa promocji:</td> <td>{{promoData.promotionDetails.name}}</td></tr>
                <tr><td class="font-weight-black">ID promocji:</td> <td>{{promoData.promotionDetails.id}}</td></tr>
                <tr><td class="font-weight-black">Start promocji:</td> <td>{{promoData.promotionDetails.start_date}}</td></tr>
                <tr><td class="font-weight-black">Koniec promocji:</td> <td>{{promoData.promotionDetails.end_date}}</td></tr>
                <tr><td class="font-weight-black">Założona przez:</td> <td>{{promoData.promotionDetails.user}}</td></tr>
                <tr><td class="font-weight-black"></td><td></td></tr>
            </v-simple-table>
        </v-card-text>

        <v-card-actions>
          <v-row no-gutters>
            <v-col>
                <v-btn
                    color="warning"
                    text
                    @click="cloneConfirmation(true)"
                >
                    Tak uruchom klonowanie
                </v-btn>
            </v-col>
            <v-spacer></v-spacer>
            <v-col>
                <v-btn
                    color="red"
                    text
                    @click="cloneConfirmation(false)"
                >
                    Anuluj
                </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
<script>
export default {
    props: ['promoData'],
    data: () => ({
        dialog3: true
    }),
    methods: {
        cloneConfirmation(e) {
            if(e) {
                this.$store.dispatch("general/clonePromotion", this.promoData.promotionDetails.id);
            } 
            this.$emit('close-dialog', true);
        }
    }
}
</script>