<template>
  <div>
    <p class="title">status: {{this.$route.params.id}}</p>

    <v-row>
      <v-col cols="3" sm="12" md="4">
        Wyszukiwanie promocji
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="nazwa, tag, id, data itp."
          single-line
          hide-details
        ></v-text-field>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="promotions"
      :search="search"
      sort-by="id"
      sort-desc
    >
      <template v-slot:item.processing_state="{ item }">
        <v-tooltip 
          v-if="item.processing_state.error"
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon v-bind="attrs" v-on="on" small color="red">mdi-alert-circle-outline</v-icon>
          </template>
          <span>Wystąpił błąd przetwarzania</span>
        </v-tooltip>
        <span v-bind:class="{'blue--text': item.processing_state.id===1,'green--text': item.processing_state.id===2,'orange--text': item.processing_state.id===3,'grey--text': item.processing_state.id===4}"> 
          {{ item.processing_state.name }} 
        </span>
      </template>
      <template v-slot:item.start_date="{ item }">
          {{ formatDate(item.start_date)  }}<br>
      </template>
      <template v-slot:item.end_date="{ item }">
          {{ formatDate(item.end_date)  }}<br>
           {{item.end_date}}
      </template>
      <template v-slot:item.last_modified_date="{ item }">
          {{ formatDate(item.last_modified_date)  }}
      </template>
      <template v-slot:item.actions="{ item }">
        <ActionMenu :promoData="item" @action-button-click="onShowDialog"/>
      </template>
      <template v-slot:item.active="{ item }">
        <v-btn
          v-if="item.active"
          icon
          x-small
          color="green"
        >
          <v-icon >mdi-checkbox-marked-circle-outline</v-icon>
        </v-btn>
        <v-btn
          v-if="!item.active"
          icon
          x-small
          color="orange"
        >
          <v-icon >mdi-checkbox-blank-circle-outline</v-icon>
        </v-btn>
    </template>
    </v-data-table>
      <StopDialog v-if="showDialog" :promoData="selectedPromotion" @close-dialog="closeDialog" />
      <CloneDialog v-if="showDialog3" :promoData="selectedPromotion" @close-dialog="closeDialog" />
  </div>
</template>

<script>
  import ActionMenu  from './ActionMenu.vue'
  import StopDialog  from './StopDialog.vue'
  import CloneDialog  from './CloneDialog.vue'
  import moment from 'moment';

  export default {
    props: ['ListType'],
    data: () => ({
      search: '',
      showDialog: false,
      showDialog2: false,
      showDialog3: false,
      operationConfirmed: false,
      connectionError: false,
      errorMessage: '',
      selectedPromotion: {},
      headers: []
    }),
    created () {
      this.$store.dispatch("general/getPromotionList", this.ListType);
      this.tableCols(this.ListType);
    },
    methods: {
      tableCols(listType) {
        const defaultHeaders = [
          { text: 'ID', value: 'id' },
          { text: 'Typa promocji', value: 'type.name' },
          { text: 'Nazwa', value: 'name'},
          { text: 'Tagi', value: 'tags'},
          { text: 'Użytkownik', value: 'user'},
          { text: 'Start', value: 'start_date' },
          { text: 'Koniec', value: 'end_date' },
          { text: 'Data modyfikacji', value: 'last_modified_date' }
        ];
        let tableHeaders = [];
  
        if(!listType) {
          tableHeaders.push({text: 'Status', value: 'status.name'})
        }

        tableHeaders = tableHeaders.concat(defaultHeaders)

        if(listType === 2) {
          tableHeaders.push({text: 'Stan przetwarzania', value: 'processing_state'})
        }
        tableHeaders.push({ text: 'Akcje', value: 'actions', sortable: false })
        this.headers = tableHeaders;
      },
      formatDate(date) {
          return moment(date).format('YYYY-MM-DD, HH:mm') 
      },
      onShowDialog(e) {
        switch (e.action) {
          case 'stop': 
            this.showDialog = true;
            this.selectedPromotion = e;
            break;
          case 'start': 
            this.showDialog2 = true;
            this.selectedPromotion = e;
            break;
          case 'clone': 
            this.showDialog3 = true;
            this.selectedPromotion = e;
            break;
        }
      },
      closeDialog() {
        this.showDialog = false;
        this.showDialog2 = false;
        this.showDialog3 = false;
      }
    },
    computed: {
      promotions() {
           return this.$store.getters['general/getPromotionList']
      }
    },
    watch:{
      $route (to, from){
          this.$store.dispatch("general/getPromotionList", this.ListType);
          this.tableCols(this.ListType);
        }
    },
    components: {
      ActionMenu,
      StopDialog,
      CloneDialog
    }
  }
</script>