<template>
    <v-dialog
      v-model="dialog"
      width="500"
      persistent
    >
      <v-card>
        <v-card-title class="headline red lighten-3">
            Czy zakończyć promocję?
        </v-card-title>
        <v-card-text color="red lighten-5">
            <v-simple-table>
                <tr><td class="font-weight-black">Typ promocji:</td> <td>{{promoData.promotionDetails.type.name}}</td></tr>
                <tr><td class="font-weight-black">Nazwa promocji:</td> <td>{{promoData.promotionDetails.name}}</td></tr>
                <tr><td class="font-weight-black">ID promocji:</td> <td>{{promoData.promotionDetails.id}}</td></tr>
                <tr><td class="font-weight-black">Start promocji:</td> <td>{{promoData.promotionDetails.start_date}}</td></tr>
                <tr><td class="font-weight-black">Koniec promocji:</td> <td>{{promoData.promotionDetails.end_date}}</td></tr>
                <tr><td class="font-weight-black">Założona przez:</td> <td>{{promoData.promotionDetails.user}}</td></tr>
                <tr><td class="font-weight-black"></td><td></td></tr>
            </v-simple-table>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col>
                <v-btn
                    color="red"
                    text
                    @click="stopConfirmation(true)"
                >
                    Tak zatrzymaj promocję
                </v-btn>
            </v-col>
            <v-spacer></v-spacer>
            <v-col>
                <v-btn
                    color="green"
                    text
                    @click="stopConfirmation(false)"
                >
                    Anuluj
                </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
<script>
export default {
    props: ['promoData'],
    data: () => ({
        dialog: true
    }),
    methods: {
        stopConfirmation(e) {
            this.$store.dispatch("general/stopPromotion", this.promoData.promotionDetails.id);
            this.dialog=false;
            this.$emit('close-dialog', true);
        }
    }
}
</script>