<template>
    <div>
        <v-card-title class="green lighten-3">Tworzenie nowej promocji</v-card-title>
        <v-card-text>
            <v-form
                ref="newPromoForm"
                v-model="valid"
                lazy-validation
            >
            
                <v-row>
                    <v-col cols="3" sm="12" md="4">
                        <PromotionType v-model="basicData.promotionType"/>
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                        <PromotionName :initialName="null" v-model="basicData.promotionName" />
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                    <PromotionTags v-model="basicData.promotionTags"/>
                    </v-col>
                    <v-col cols="12" sm="12" md="4">
                        <MinimalBasket :initialMinimalBasket="0" v-model="basicData.minBasketValue"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <DateTimeSelect :initialDateStart="null" :initialDateEnd="null" v-model="basicData.promotionDate"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="6" md="6">
                        <v-btn
                            depressed
                            color="primary"
                            @click="validate"
                            >
                                Załóż promocję
                        </v-btn>
                        <br>
                        <br>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
    </div>
</template>

<script>
import PromotionType from '@/components/_forms/PromotionType.vue'
import DateTimeSelect from '@/components/_forms/SelectDateTime.vue'
import PromotionName from '@/components/_forms/PromotionName.vue'
import PromotionTags from '@/components/_forms/PromotionTags.vue'
import MinimalBasket from '@/components/_forms/MinimalBasket.vue'

export default {
    name: 'Promotion',
    data: () => ({
        basicData: {},
        valid: true
    }),
    created(){
        this.$store.dispatch("general/clearPromotionData");
    },
    beforeDestroy() {
        this.$store.dispatch("general/setErrorMessage", null)
    },
    methods: {
        sendForm(formData) {
            formData.user_name = this.currentUser;
            this.$store.dispatch("general/addNewPromotion", formData)
        },
        validate () {
            if (this.$refs.newPromoForm.validate()) {
                this.$store.dispatch("general/setErrorMessage", null);
                this.sendForm(this.basicData)
            } else {
                this.$store.dispatch("general/setErrorMessage", 'Proszę uzupełnić dane promocji formularza')
            }
        }
    },
    computed: {
        currentUser() {
           return this.$store.getters['user/getUserData'].user_name;
        }
    },
    components: {
        PromotionType,
        DateTimeSelect,
        PromotionName,
        PromotionTags,
        MinimalBasket
    }
}
</script>