<template>
    <div>
        <v-simple-table dense height="300px">
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">Id Verto</th>
                        <th class="text-left">Nazwa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products" :key="product.id_v">
                        <td>{{ product.id_v }}</td>
                        <td>{{ product.nazwa }}</td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
export default {
        props: ['products']
}
</script>